header{
    background-color: skyblue;
}
nav{
    background-color: lightgreen;
}
main{
    background-color: lightsalmon;
}
footer{
    background-color: lightslategrey;
}
p{
    background-color: lightpink;
}